@import '../../styles/variables.scss';

.Heading {
    font-weight: $heading-font-weight;
    margin: 0;
}

.Heading--size-1 {
    font-size: $heading-size-1;
    line-height: $heading-line-height;
    letter-spacing: $heading-letter-spacing-sm;
}

.Heading--size-2 {
    font-size: $heading-size-2;
    line-height: $heading-line-height;
    letter-spacing: $heading-letter-spacing-md;
}

.Heading--size-3 {
    font-size: $heading-size-3;
}

.Heading--size-4 {
    font-size: $heading-size-4;
}

.Heading--size-5 {
    font-size: $heading-size-5;
}

.Heading--size-6 {
    font-size: $heading-size-6;
}

// .Heading--color-black {
//     color: $heading-black-color;
// }

// .Heading--color-darkGrey {
//     color: $heading-dark-color;
// }
