@import '../../styles/variables.scss';

.LeakedPasswordList {
    max-width: $max-page-width;
}

.LeakedPasswordList__headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $default-border;
}

.LeakedPasswordList__item {
    border-bottom: $default-border;
}

.LeakedPasswordList__itemText {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.LeakedPasswordList__itemTitle {
    font-weight: $font-weight-bold;
}
