@import '../../../styles/variables.scss';

.NavigationBar {
    position: fixed;
    height: $navigation-bar-height;
    width: 100%;
}

.NavigationBar__innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navigation-bar-height;
    max-width: $max-page-width;
}

.NavigationBar__listContainer {
    display: flex;
    align-items: center;
    height: 100%;
}
