@import '../../styles/variables.scss';

.Input {
    width: 100%;
    $color: $color-dark-grey;
    border: $grey-border;
    border-radius: $default-border-radius;
    font-family: $primary-font;
    font-weight: $font-weight-semibold;
    font-size: $size-5;
    padding: $space-3 0 $space-2 $space-4;

    &::placeholder {
        font-weight: $font-weight-normal;
    }
}

.Input--error {
    border-color: $color-red;
}
