@import '../../styles/variables.scss';
@import '../../styles/mediaQueries.scss';

.GetNordPassForm {
    max-width: $max-page-width;
}

.GetNordPassForm__innerWrapper {
    @include lg {
        display: flex;
    }
}

.GetNordPassForm__image {
    width: 100%;
    height: auto;
}
