@import '../../styles/variables.scss';
@import '../../styles/mediaQueries.scss';

.GetNordPassForm {
    max-width: $max-page-width;
}

.GetNordPassForm__innerWrapper {
    @include lg {
        display: flex;
        align-items: center;
    }
}

.GetNordPassForm__imageWrapper {
    direction: rtl;
}

.GetNordPassForm__image {
    width: 100%;
    height: auto;

    @include lg {
        width: 140%;
    }
}
