@import '../../styles/variables.scss';
@import '../../styles/mediaQueries.scss';

.Hero {
    background-image: linear-gradient($color-light, $color-white);
}

.Hero__innerWrapper {
    max-width: $max-page-width;

    @include lg {
        display: flex;
    }
}

.Hero__image {
    width: 100%;
    height: auto;

    @include lg {
        width: 120%;
    }
}
