@import '../../styles/variables.scss';

.Button {
    background-color: transparent;
    border-style: none;
    border-radius: $button-border-radius;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-weight: $button-font-weight;
    transition: all 0.2s ease;
    // for <a>
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.Button--color-primary {
    background-color: $primary-button-background-color;
    color: $primary-button-text-color;

    &:hover,
    &:focus {
        color: $primary-button-hover-text-color;
        background-color: $primary-button-hover-background-color;
    }

    &:active {
        background-color: $primary-button-active-background-color;
    }
}

.Button--size-1 {
    font-size: $button-font-lg;
    padding: $button-padding-lg;
}

.Button--size-2 {
    font-size: $button-font-md;
    padding: $button-padding-md;
}

.Button--size-3 {
    font-size: $button-font-sm;
    padding: $button-padding-sm;
}
