$spacing-shortcuts: (
    'margin': 'm',
    'padding': 'p'
);
$spacing-directions: (
    'top': 't',
    'right': 'r',
    'bottom': 'b',
    'left': 'l'
);

$spacing-values: (
    '0': $space-0,
    '1': $space-1,
    '2': $space-2,
    '3': $space-3,
    '4': $space-4,
    '5': $space-5,
    '6': $space-6,
    '7': $space-7,
    '8': $space-8,
    '9': $space-9,
    '10': $space-10
);

@each $property, $shortcut in $spacing-shortcuts {
    @each $name, $value in $spacing-values {
        // All directions
        .#{$shortcut}-#{$name} {
            #{$property}: $value;
        }

        // Relative directions
        @each $direction, $direction-shortcut in $spacing-directions {
            .#{$shortcut}#{$direction-shortcut}-#{$name} {
                #{$property}-#{$direction}: $value;
            }
        }

        // Horizontal axis
        .#{$shortcut}x-#{$name} {
            #{$property}-left: $value;
            #{$property}-right: $value;
        }

        // Vertical axis
        .#{$shortcut}y-#{$name} {
            #{$property}-top: $value;
            #{$property}-bottom: $value;
        }
    }
}

@each $property, $shortcut in $spacing-shortcuts {
    @each $name, $value in $spacing-values {
        @include md {
            // All directions
            .md-#{$shortcut}-#{$name} {
                #{$property}: $value;
            }

            // Relative directions
            @each $direction, $direction-shortcut in $spacing-directions {
                .md-#{$shortcut}#{$direction-shortcut}-#{$name} {
                    #{$property}-#{$direction}: $value;
                }
            }

            // Horizontal axis
            .md-#{$shortcut}x-#{$name} {
                #{$property}-left: $value;
                #{$property}-right: $value;
            }

            // Vertical axis
            .md-#{$shortcut}y-#{$name} {
                #{$property}-top: $value;
                #{$property}-bottom: $value;
            }
        }
    }
}

@each $property, $shortcut in $spacing-shortcuts {
    @each $name, $value in $spacing-values {
        @include lg {
            // All directions
            .lg-#{$shortcut}-#{$name} {
                #{$property}: $value;
            }

            // Relative directions
            @each $direction, $direction-shortcut in $spacing-directions {
                .lg-#{$shortcut}#{$direction-shortcut}-#{$name} {
                    #{$property}-#{$direction}: $value;
                }
            }

            // Horizontal axis
            .lg-#{$shortcut}x-#{$name} {
                #{$property}-left: $value;
                #{$property}-right: $value;
            }

            // Vertical axis
            .lg-#{$shortcut}y-#{$name} {
                #{$property}-top: $value;
                #{$property}-bottom: $value;
            }
        }
    }
}

// Margin auto
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.md-mx-auto {
    @include md {
        margin-left: auto;
        margin-right: auto;
    }
}

.lg-mx-auto {
    @include lg {
        margin-left: auto;
        margin-right: auto;
    }
}
