$sizes: (
    '1': $size-1,
    '2': $size-2,
    '3': $size-3,
    '4': $size-4,
    '5': $size-5,
    '6': $size-6,
    '7': $size-7
);

@each $size, $value in $sizes {
    .textSize--#{$size} {
        font-size: $value;
    }
}

@each $size, $value in $sizes {
    .md__textSize--#{$size} {
        @include md {
            font-size: $value;
        }
    }
}

@each $size, $value in $sizes {
    .lg__textSize--#{$size} {
        @include lg {
            font-size: $value;
        }
    }
}

$alignments: (
    'centered': 'center',
    'justified': 'justify',
    'left': 'left',
    'right': 'right'
);

@each $alignment, $text-align in $alignments {
    .text--#{$alignment} {
        text-align: #{$text-align};
    }
}

@each $alignment, $text-align in $alignments {
    .md__text--#{$alignment} {
        @include md {
            text-align: #{$text-align};
        }
    }
}

@each $alignment, $text-align in $alignments {
    .lg__text--#{$alignment} {
        @include lg {
            text-align: #{$text-align};
        }
    }
}

.textWeight--normal {
    font-weight: $font-weight-normal;
}

.textWeight--semibold {
    font-weight: $font-weight-semibold;
}

.textWeight--bold {
    font-weight: $font-weight-bold;
}
