@import '../../../styles/variables.scss';
@import '../../../styles/mediaQueries.scss';

.NavigationList {
    display: none; // Hide on mobile
    list-style: none;

    @include md {
        display: inline-flex;
    }
}

.NavigationList__link {
    color: $navigation-link-color;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease;

    &:hover {
        color: $navigation-link-active-color;
    }
}

.NavigationList__link--active {
    color: $navigation-link-active-color;
}
