@import './variables.scss';
@import './mediaQueries.scss';
@import './utilities/spacing.scss';
@import './utilities/typography.scss';
@import './utilities/colors.scss';

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $primary-font;
    font-size: $default-font-size;
    line-height: $default-line-height;
    color: $default-text-color;
    height: 100%;
    overflow-x: hidden;
}
