@font-face {
    font-family: 'Gordita';
    src: url('../fonts/gordita-regular.woff2') format('woff2'), url('../fonts/gordita-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/gordita-medium.woff2') format('woff2'), url('../fonts/gordita-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/gordita-bold.woff2') format('woff2'), url('../fonts/gordita-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//COLORS
$color-white: #fff;
$color-black: #000;
$color-secondary-black: #151922;
$color-dark: #373b42;
$color-green: #43a5a1;
$color-light-green: #80cbc8;
$color-dark-green: #347f7c;
$color-light: #edf8f7;
$color-lightest: #f8f8f8;
$color-grey: #b9babd;
$color-dark-grey: #383c43;
$color-red: #f64f64;

//FONT SIZE
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 0.875rem;
$size-6: 0.75rem;
$size-7: 0.625rem;

//TYPOGRAPHY
$primary-font: 'Gordita';
$default-font-size: 16px;
$default-text-color: $color-dark;
$default-line-height: 1.5;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

//SPACING
$space-1: 0.375rem; //6px
$space-2: 0.625rem; //10px
$space-3: 0.75rem; //12px
$space-4: 1rem; //16px
$space-5: 1.25rem; //20px
$space-6: 1.5rem; //24px
$space-7: 2.25rem; //36px
$space-8: 3.75rem; //60px
$space-9: 4.5rem; //72px
$space-10: 6rem; //90px

//MEDIA QUERY SIZES
$md-screen-width: 768px;
$lg-screen-width: 1024px;

// COMPONENT VARIABLES

//HEADING
//typography
$heading-size-1: $size-1;
$heading-size-2: $size-2;
$heading-size-3: $size-3;
$heading-size-4: $size-4;
$heading-size-5: $size-5;
$heading-size-6: $size-6;
$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.33;
$heading-letter-spacing-sm: -0.35px;
$heading-letter-spacing-md: -0.15px;
//margins
$heading-margin-sm: $space-7;
$heading-margin-md: $space-8;
$heading-margin-lg: $space-9;
//colors
$heading-dark-color: $color-dark-grey;
$heading-black-color: $color-black;

//BUTTON
$button-font-weight: $font-weight-bold;
$button-border-radius: 3px;
//primary button
$primary-button-text-color: $color-white;
$primary-button-background-color: $color-green;
$primary-button-hover-text-color: $color-white;
$primary-button-hover-background-color: $color-light-green;
$primary-button-active-background-color: $color-dark-green;
//small button
$button-font-sm: $size-6;
$button-padding-sm: $space-1 $space-4;
//medium button
$button-font-md: $size-4;
$button-padding-md: $space-2 $space-5;
//large button
$button-font-lg: $size-3;
$button-padding-lg: $space-3 $space-6;

//NAVIGATION
//navigation bar
$navigation-bar-height: 3.5rem;
$navigation-bar-item-gap: $space-6;
//navigation link
$navigation-link-color: $color-secondary-black;
$navigation-link-active-color: $color-green;
$navigation-link-font-size: $size-5;
$navigation-link-font-weight: $font-weight-semibold;
//navigation icon
$navigation-icon-wrapper-size: 1.875rem;
$navigation-icon-width: 1.5rem;
$navigation-icon-thickness: 2px;
$navigation-icon-color: $color-secondary-black;
$navigation-icon-hover-color: $color-dark-grey;
