@import '../../styles/variables.scss';

.LeakedPasswords {
    max-width: $max-page-width;
}

.LeakedPasswords__listTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: $default-border;
}

.LeakedPasswords__select {
    width: $select-width;
    border: $grey-border;
    border-radius: $default-border-radius;
    color: $color-dark-grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 5L0 0L8 0L4 5Z' fill='%23383C43'/%3E%3C/svg%3E"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    background-size: 4%;
    &::-ms-expand {
        display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }
}
