@import '../../styles/variables.scss';
@import '../../styles/mediaQueries.scss';

.LeakedPasswords {
    padding: $space-4;
    text-align: center;
    max-width: 1134px;
    margin: 0 auto;

    @include lg {
        padding-bottom: calc(#{$space-7} + #{$space-8});
    }
}

.LeakedPasswords__listTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-light-grey;
    padding-bottom: $space-6;
}

.LeakedPasswords__buttonWrapper {
    margin-top: $space-7;
}
