@import '../../styles/variables.scss';

.LeakedPasswords {
    max-width: $max-page-width;
}

.LeakedPasswords__listTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: $default-border;
}
