@import '../../styles/variables.scss';

.LeakedList {
    margin-left: $space-4;
}

.LeakedList__item {
    padding: $space-6 0 $space-6 $space-6;
    border-bottom: 1px solid $color-light-grey;
}

.LeakedList__itemText {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.LeakedList__itemTitle {
    font-weight: $font-weight-bold;
}
