@import '../../styles/variables.scss';

.Collapsible {
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
}

.Collapsible__title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Collapsible__content {
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.Collapsible--expanded {
    .Collapsible-button::before {
        transform: rotate(90deg);
    }
}

.Collapsible--expanded {
    .Collapsible-button::after {
        transform: rotate(180deg);
    }
}
