@import '../../styles/variables.scss';

.ContactForm {
    display: flex;
    flex-direction: column;
    max-width: $contact-form-width;
}

.ContactForm__link {
    color: $color-secondary-black;
    transition: all 0.2s ease;

    &:hover {
        color: $color-dark-grey;
    }
}
